{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
{% include 'nav.html' %}

<h1>Main Page</h1>

<h3>{{ request.user }}</h3>
<a href="/following/">People you Follow</a>
{% for post in posts %}
    <table>
        <thead>
            <th>
                <a href="/profile/{{post.user_name.id}}">
                    {% if post.user_name.image %}
                        <img class='avatar' src='{{post.user_name.image.url}}' alt="avatar">
                    {% endif %}
                    {{post.user_name}}
                </a>
            </th>
        </thead>
        <tbody>
            <tr><td>{{post.title}}</td></tr>
            <tr><td>{{post.body}}</td></tr>
        </tbody>
    </table>
{% endfor %}