{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>

{% include 'nav.html' %}

<h1>Main Page</h1>
<div class="mainpage">
    <div class="user">
        {% if request.user.image %}
            <img class="profilepic" src="{{request.user.image.url}}" alt="profilepic">
        {% endif %}
        <h3>{{ request.user }}</h3>
    </div>
    <div class="posts">
        <a href="/">All Posts</a>
        <a href="/following/">People you Follow</a>
        <div class="postfeed">
            {% for post in posts %}
                <table>
                    <thead>
                        <th>
                            <a href="/profile/{{post.user_name.id}}">
                                {% if post.user_name.image %}
                                    <img class='avatar' src='{{post.user_name.image.url}}' alt="avatar">
                                {% endif %}
                                {{post.user_name|title}}
                            </a>
                            :{{post.title}}
                        </th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                {% if post.image %}
                                    <img class="postimg" src="{{post.image.url}}" alt="{{post.title}}">
                                {% endif %}
                            </td>
                        </tr>
                        <tr><td>{{post.body}}</td></tr>
                        <tr>
                            <td>
                                Likes:{{post.likes}} <a href="/like/{{post.id}}">
                                    {% if post in request.user.liked_posts.all %}
                                        <button>UnLike</button>
                                    {% else %}
                                        <button>Like</button>
                                    {% endif %}
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            {% endfor %}
        </div>
    </div>
</div>

    
</body>
</html>