{% load static %}
<button><a href='/'>Home</a></button>
<button><a href='/login/'>Log In</a></button>
<button><a href='/signup/'>Sign Up</a></button>
<button><a href='/logout/'>Log Out</a></button>
<button><a href='/create_post/'>Create Post</a></button>
<button><a href='/messages/'>Messages</a></button>
<button><a href='/profile/{{request.user.id}}/'>View Profile</a></button>

{% for dm in dms %}
        <table>
            <thead>
                <th><a href="/profile/{{dm.author.id}}">{{dm.author}}</a></th>
            </thead>
            <tbody>
                <tr><td>{{dm.message.text}}</td></tr>
                <tr>
                    <td>{{dm.message.time}}</td>
                </tr>

            </tbody>
        </table>
    {% endfor %}