{% load static %}
{% include 'nav.html' %}


<h1>Welcome {{my_user}}</h1>
{% if request.user != my_user %}
    <button><a href="/messagefeed/{{my_user.id}}">Message Me</a></button>
    <a href="/follow/{{my_user.id}}">
        {%if my_user in request.user.following.all%}
            <button>UnFollow &#128148</button>
        {% elif request.user.is_authenticated %}
            <button>Follow &#128151</button>
        {%endif%}
    </a>
{% endif %}

<ul>
    {% for post in posts %}
        <li>{{post.title}}</li>
        <li>{{post.body}}</li>
    {% endfor %}
</ul>