{% load static %}
{% include 'nav.html' %}


<h1>Welcome {{my_user}}</h1>
{% if request.user != my_user %}
    <button><a href="/dm/{{my_user.id}}">Message Me</a></button>
    {%if my_user in request.user.following.all%}
        <button><a href="/unfollow/{{my_user.id}}">UnFollow &#128148</a></button>
    {% elif request.user.is_authenticated %}
        <button><a href="/follow/{{my_user.id}}">Follow &#128151</a></button>
    {%endif%}
{% endif %}

<ul>
    {% for post in posts %}
        <li>{{post.title}}</li>
        <li>{{post.body}}</li>
    {% endfor %}
</ul>