{% load static %}
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
{% include 'nav.html' %}


<h1>Welcome {{my_user}}</h1>
{% if request.user != my_user %}
    <button><a href="/messagefeed/{{my_user.id}}">Message Me</a></button>
    <a href="/follow/{{my_user.id}}">
        {%if my_user in request.user.following.all%}
            <button>UnFollow &#128148</button>
        {% elif request.user.is_authenticated %}
            <button>Follow &#128151</button>
        {%endif%}
    </a>
{% endif %}

<ul>
    {% for post in posts %}
        <li>{{post.title}}</li>
        <li>{{post.body}}</li>
    {% endfor %}
</ul>